@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

body {
  font-family: 'Nunito', sans-serif;
  background: rgb(220, 237, 209);
  background: linear-gradient(
    148deg,
    rgba(220, 237, 209, 1) 0%,
    rgba(190, 221, 190, 1) 24%,
    rgba(231, 194, 212, 1) 100%
  );
}

.main--panel {
  position: absolute;
  width: 80%;
  height: 80%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 50px;

  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.search--panel {
  display: flex;
  margin: auto;
  padding: 10px;
  align-items: center;
  width: 50%;
}

.center {
  align-items: center;
  text-align: center;
  margin: 0 auto;
}

.table-container {
  margin: 0 auto;
}

table {
  position: inherit;
  width: 90%;
  border-collapse: collapse;
  margin: 20px 0;
}
table,
th,
td {
  border: 1px solid black;
}

th,
td {
  padding: 10px;
  text-align: left;
}
